*.class

# Latex file
*.log
*.blg
*.bbl
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.run*
*.synctex*
*.pdf
*.out

# Clafer compiled files
*.als
*.des.cfr
*.html
*.js

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
